<?xml version="1.0" encoding="utf-8"?>
<configuration>
  <!-- アセンブリを読み込むときに、共通言語ランタイムが検索するアプリケーションベースサブディレクトリを指定します。-->
  <runtime>
    <assemblyBinding xmlns="urn:schemas-microsoft-com:asm.v1">
      <probing privatePath="Assemblies"/>
    </assemblyBinding>
  </runtime>
  <!-- ファイルパス、XML Web サービスの URL、アプリケーションの .ini ファイルに保存されている任意の情報など、カスタムアプリケーション設定を格納します。 -->
  <appSettings>
    <add key="TypeLibRegisterConfiguration.FilePath" value="TypeLibRegisterCS.config"/>
  </appSettings>
  <startup>
    <supportedRuntime version="v4.0" sku=".NETFramework,Version=v4.8"/>
  </startup>
</configuration>
