<?xml version="1.0" encoding="utf-8"?>
<typeLibRegisterConfiguration xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance" xmlns:xsd="http://www.w3.org/2001/XMLSchema">
  <filters>
    <item displayName="すべて" searchPattern="*.*" />
    <item displayName="*.exe" searchPattern="*.exe*" />
    <item displayName="*.dll" searchPattern="*.dll*" />
    <item displayName="*.tlb" searchPattern="*.tlb*" />
    <item displayName="*.olb" searchPattern="*.olb*" />
    <item displayName="*.ocx" searchPattern="*.ocx*" />
    <item displayName="*.oca" searchPattern="*.oca*" />
    <item displayName="*\MareMare\*.*" searchPattern="*\MareMare\*.*" />
    <item displayName="*\MareMare\*.exe" searchPattern="*\MareMare\*.exe" />
    <item displayName="*\MareMare\*.dll" searchPattern="*\MareMare\*.dll" />
    <item displayName="*\MareMare\*.tlb" searchPattern="*\MareMare\*.tlb" />
    <item displayName="*\MareMare\*.ocx" searchPattern="*\MareMare\*.ocx" />
    <item displayName="*\MareMare\*.oca" searchPattern="*\MareMare\*.oca" />
  </filters>
</typeLibRegisterConfiguration>
